<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="true"
        android:label="KARÇİMSA Silo Operasyon"
        android:icon="@drawable/karcimsa_launcher_exact"
        android:roundIcon="@drawable/karcimsa_launcher_exact"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.KarcimsaMobile">

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="karcimsa_vehicle_alerts" />

        <service
            android:name=".KarcimsaMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".SettingsActivity"
            android:exported="false" />

        <activity android:name=".MainActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
